body {
	padding-top: 5rem;
}

#timer-container, #cost-container {
	text-align: center;
}

#equals {
	margin: 0 50px;
}

.positive-cost {
	color: #13701c;
}

.negative-cost {
	color: #cc2828;
}

h1 {
	font-size: 60px;
	font-weight: 100;
}

#timer-display {
	padding: 0 20px 10px 20px;
	border: 1px solid #555555;
	border-radius: 10px;
	margin: 20px;
}

#timer-controls > div > button {
	width: 100px;
}

#cost-container {
	margin: 50px 0;
}

#unit-cost {
	padding: 6px 12px;
	margin-bottom: 0;
	text-align: right;
	width: 100px;
}

#unit-cost:focus {
	font-style: italic;
}

#unit-per {
	margin: 0 25px;
}

#unit-cost, #unit-display-button {
	border-color: #999999;
}

.caret {
	margin-left: 10px !important;
}

.inline {
	display: inline-block;
}

.spacer {
	margin-left: 10%;
	margin-right: 10%;
}

#unit-cost-tip {
	padding: 10px;
	width: 250px;
	border-radius: 5px;
	border: 1px solid #555555;
	margin: 20px auto;
}